.contact-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: var(--color-primary);
}

.control-group,
.form-action {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.control-group input {
  padding: 0.5rem;
  width: 100%;
  min-width: 15rem;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  font: inherit;
  color: inherit;
}
.control-group input:first-of-type {
  margin-right: 0.5rem;
}
.control-group input:last-of-type {
  margin-left: 0.5rem;
}

.control-group input:focus,
.control-group textarea:focus {
  outline: none;
  border-color: var(--color-secondary);
  background-color: var(--color-ligth-secondary) !important;
}

.control-group textarea {
  padding: 0.5rem;
  min-width: 100%;
  min-height: 100px;
  resize: vertical;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  font: inherit;
  color: inherit;
}

.form-action {
  justify-content: flex-end;
  align-items: baseline;
}

.form-action button {
  padding: 0;
  width: 12rem;
  height: 3rem;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
}

.form-action button:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-ligth);
}

.control-group input.invalid,
.control-group textarea.invalid {
  background-color: #ffe9e9;
  border: 1px solid #bf0603;
}
