* {
  box-sizing: border-box;
  /* font-family: "poppins", sans-serif; */
  /* font-family: "Helvetica 35 Thin", sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
}

html {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
     */
  font-family: "Segoe UI";
}

:root {
  --color-primary: #14213d;
  --color-secondary: #fca311;

  --color-ligth-secondary: #fff2dd;

  --color-dark-grey: #838383;
  --color-ligth-grey: #e5e5e5;

  --color-dark: #111;
  --color-ligth: #fff;

  /* colors for SKILLS*/
  --color-html: #6e00b8;
  --color-css: #f17628;
  --color-bootstrap: #ff5d8f;
  --color-materialui: #208b3a;
  --color-js: #e9c46a;
  --color-react: #72bad5;
}

::selection {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

/* -------------------- Scroll Bar -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-ligth-grey);
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-grey);
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

body {
  margin: 0;
}

main {
  position: relative;
  margin-left: 8rem;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: var(--color-primary);
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--color-ligth-secondary) inset; /*your box-shadow*/
  -webkit-text-fill-color: var(--color-primary);
}

/* CSS for TSPARTTICLES */
#tsparticles {
  width: 100%;
}

/* MEDIA QUERRIES */
@media only screen and (max-width: 600px) {
  main {
    margin-left: 0;
    margin-top: 6rem;
  }
  #tsparticles canvas {
    height: calc(100vh - 6rem) !important;
  }

  .vertical-timeline-element-content {
    width: 80% !important;
    margin-left: 16% !important;
    margin-right: 16% !important;
  }

  .vertical-timeline-element-date {
    margin-left: 5px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1169px) {
  .vertical-timeline-element-content {
    width: 80% !important;
    max-width: 28rem !important;
    margin-left: 13% !important;
    margin-right: 13% !important;
  }

  .vertical-timeline-element-date {
    margin-left: 5px !important;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  main {
    margin-left: 6rem;
  }
}
